
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: #fff;
  line-height: 1.6;
}

header {
  padding: 20px;
  background-color: #1e1e1e;
  top: 40px;
  gap: 70px;
  margin-inline: 80px;
  border-radius: 8px;
}

.navbar {
  background: #1a1a1a;
  padding: 1rem 2rem;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.menu a {
  color: #ccc;
  text-decoration: none;
  font-size: 0.95rem;
}

.menu a:hover {
  color: #fff;
}

.socials a {
  margin-left: 1rem;
  color: #777;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  min-width: 300px;
  margin-bottom: 2rem;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  margin-bottom: 2rem;
  color: #aaa;
}

.btn {
  background: #4CAF50;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.6);
  transition: 0.3s;
}

.btn:hover {
  background: #3e8e41;
}

.hero-img img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.brands {
  padding: 2rem;
  text-align: left;
}

.brand-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.brand {
  background: #1a1a1a;
  padding: 1.5rem;
  border-radius: 10px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
