* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
.heading{
    padding: 0 px;
    flex:auto;
    

}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #fff;
}

header {
  padding: 20px;
  background-color: #1e1e1e;
  top: 40px;
  gap: 70px;
  margin-inline: 80px;
  border-radius: 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.social-icons a img {
  width: 24px;
  margin-left: 10px;
  padding: 0;
}
