* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.header-section {
    background-color: #B7BCA9;
    color: white;
}
header {
    background-color: #B7BCA9;
    
}
.container {
    max-width: 1760px;
    margin: 0 auto;
    border: 3px solid #0ccaca;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px ;

}
.left {
    display: flex;
    align-items: center;
    gap: 40px;
    border: 1px solid #088627;
    
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
    border: 1px solid #193ddb;
}
.menu-toggle {
    font-size: 24px;
}
.left a {
    text-decoration: none;
    color: #333;

    gap: 10px;
}

.header h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    flex: 1;
    position: relative;
    font-family: "Elsie Swash Caps",;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #0a1175;
}
.nav-right a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    border: 1px solid #19db39;
}
.nav-right{
    text-decoration: none;
    border: 1px solid #91087a;
    
}
.lang-button {
    padding: 8px 12px;
    border-radius: 4px;
    gap: 20px;


}
.menu{
    text-align: center;
    padding: 40px 20px;
}

.menu-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.menu-text{
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    line-height: 26px;
    font-size: 18px;
    color: #555;
}

.menu-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-categories button{
    padding: 10px 20px;
   
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    transition: background-color 0.3s; 
    border: 1px solid #9FA68C;
    
}
.menu-items{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}







.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
}

.intro-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.intro-text p {
  font-size: 18px;
  max-width: 500px;
}

.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #00ff99;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.intro-image img {
  width: 250px;
  border-radius: 50%;
  border: 4px solid #00ff99;
}

.worked-with {
  padding: 40px;
  text-align: center;
}

.worked-with h2 {
  margin-bottom: 20px;
}

.logos img {
  width: 100px;
  margin: 10px;
  filter: brightness(0) invert(1);
}















/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    margin-top: 2rem;
  }
}
